{% extends "tesis/index.html" %}
{% load static %}

{% block content_tabla %}

<!-- Team -->
<div class="bg-color-sky-light">
    <div class="content-md container">
        <div class="row margin-b-40">
            <div class="col-sm-6">
                <h2>Nuestros Académicos</h2>
            </div>
        </div>
        <!--// end row -->

        <div class="row">
            <!-- Team -->
            <div class="col-sm-4 sm-margin-b-20">
                <div class="bg-color-white margin-b-30">
                    <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                        <center>
                            <img class="img-responsive" src="{% static 'img/Profesores/alejandro.png' %}" width="200" height="200" >
                        </center>
                    </div>
                </div>
                <h4><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwj2__K9nLX0AhXBKLkGHR6MB6QQFnoECAUQAQ&url=https%3A%2F%2Fcl.linkedin.com%2Fin%2Falejandro-vald%25C3%25A9s-jim%25C3%25A9nez-08915228&usg=AOvVaw1YCYjbeSSj4o3puWHfJFFs">
                    Alejandro Valdés-Jiménez</a>
                    <p></p>
                    <span class="text-uppercase margin-l-20">Administración de Sistemas, Redes de Datos, Programación, Free/Libre and Open Source Software FLOSS. HPC – High-performance computing, Desarrollo de herramientas Bioinformática.</span>
                </h4>
            </div>
            <!-- End Team -->

            <!-- Team -->
            <div class="col-sm-4 sm-margin-b-20">
                <div class="bg-color-white margin-b-30">
                    <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                        <center>
                            <img class="img-responsive" src="{% static 'img/Profesores/ariela_vergara.png' %}" width="200" height="200" >
                        </center>
                    </div>
                </div>
                <h4><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwj2__K9nLX0AhXBKLkGHR6MB6QQFnoECAUQAQ&url=https%3A%2F%2Fcl.linkedin.com%2Fin%2Falejandro-vald%25C3%25A9s-jim%25C3%25A9nez-08915228&usg=AOvVaw1YCYjbeSSj4o3puWHfJFFs">
                    Ariela Vergara Jaque</a>
                    <p></p>
                    <span class="text-uppercase margin-l-10">Simulación computacional de proteínas transmembranales. Interacciones proteína-proteína con potencial farmacológico.</span>
                </h4>
            </div>

            <!-- Team -->
            <div class="col-sm-4 sm-margin-b-20">
                <div class="bg-color-white margin-b-30">
                    <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                        <center>
                            <img class="img-responsive" src="{% static 'img/Profesores/gonzalo.png' %}" width="200" height="200" >
                        </center>
                    </div>
                </div>
                <h4><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwj2__K9nLX0AhXBKLkGHR6MB6QQFnoECAUQAQ&url=https%3A%2F%2Fcl.linkedin.com%2Fin%2Falejandro-vald%25C3%25A9s-jim%25C3%25A9nez-08915228&usg=AOvVaw1YCYjbeSSj4o3puWHfJFFs">
                    Gonzalo Riadi Mahias</a>
                    <p></p>
                    <span class="text-uppercase margin-l-10">Análisis de secuencias biológicas de elementos móviles de DNA en procariontes. Predicción de propiedades estructurales de quinasa, análisis de simulación de canales de potasio y simulación de infección de virus en población de haplotipos inmunólogicos.</span>
                </h4>
            </div>

        </div>
        <!--// end row -->
    </div>
</div>
<!-- End Team -->

{% endblock %}