{% extends "tesis/index.html" %}
{% load static %}

{% block css %}
{{block.super}}
<style>
   zing-grid {
      background: #eeeeee;
      font-size: 1.5rem;
      box-shadow: 0 0 9px rgba(0, 0, 0, .15);
      width:80%;
   }
   zg-caption {
      background-color: rgb(64, 147, 202);
      color: rgb(0, 0, 0);
      font-weight: bold;
      opacity: 2;
      text-align: center;
      transition: 0.3s opacity;
      font-size: 2.5rem;
   }

 </style>

<style>

  @import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");
  
  .search input {
      height: 60px;
      width: 550px;
      text-indent: 25px;
      border: 3px solid #d6d4d4;
      font-size: 25px;
  }
  
  .search input:focus {
      box-shadow: none;
      border: 2px solid blue
  }
  
  .search .fa-search {
      position: absolute;
      top: 2px;
      left: 16px
  }
  
  </style>
  

{% endblock %}

{% block content_tabla %}
<div>
    <center>
      <div class="container">
        <div style="width:600px; margin:0 auto;">
            <div class="col-md-9">
                <div class="search"> <i class="fa fa-search"></i> <input type="text" class="form-control" placeholder="Buscador tu tesis"" id="searchGrid"> </div>
            </div>
        </div>
      </div>

        <p></p>
        <zing-grid
          filter
          lang = "es"
          pager
          page-size="10"
          layout="row"
          search
          src="/api/tesis/">
          <zg-caption>
              Tesis
          </zg-caption>
          <zg-source position="both">Estudiantes Universidad de Talca</zg-source>
          <zg-data>
              <zg-param name="idKey" value="matricula"></zg-param>
          </zg-data>
          
          <zg-colgroup>
            <zg-column index="matricula.nombres" header="Alumno.Nombre"></zg-column>
            <zg-column index="matricula.apellidos" header="Alumno.Apellido"></zg-column>
            <zg-column index="titulo" filter="disabled" ></zg-column>
            <zg-column index="profesor.nombre" ></zg-column>
            <zg-column index="profesor.apellido" ></zg-column>
            <zg-column index="cotutor" ></zg-column>
            <zg-column index="informante"></zg-column>
            <zg-column index="fecha" type="date" ></zg-column>
            <zg-column 
             index="area"
             sort="enable" 
             type="select"
               type-select-options="Informática, Genética, Simulación"></zg-column>
        </zg-colgroup>
        </zing-grid>
    </center>
  </div>
{% endblock %}


{% block js %}
{{ block.super }}
<script>
   // window:load event for Javascript to run after HTML
   // because this Javascript is injected into the document head
   window.addEventListener('load', () => {
     // Javascript code to execute after DOM content
     // element references
     const searchGrid = document.getElementById('searchGrid');
     const zgRef = document.querySelector('zing-grid');

     // debounce search
     let searchTimeoutId = null;

     // function declarations
     function _searchGrid(e) {
       // debounce search
       clearTimeout(searchTimeoutId);
       let targetValue = e.target.value;
       // delay 100 milliseconds to debounce user input
       searchTimeoutId = setTimeout((userInput) => {
         requestAnimationFrame(() => zgRef.searchGrid(userInput));
       }, 100, targetValue);
     }

     // add event listeners
     searchGrid.addEventListener('keyup', _searchGrid);
     searchGrid.addEventListener('change', _searchGrid);
     searchGrid.addEventListener('search', _searchGrid);
   });
 </script>



{% endblock %}
   