{% extends "tesis/index_login.html" %}
{% load static %}


{% block content_inicio %}

<!-- Features -->
<div class="section-seperator">
    <div class="content-md container">
        <div class="row">
            <div class="col-sm-4 sm-margin-b-50">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                    <h3>Predicción del coeficiente de Partición de Proteínas en Sistemas de Dos Fases Acuosas a Través de la Caracterización Bioinformática de su Superficie</h3>
                    <p>El objetivo general del presente trabajo de título es determinar el efecto de la distribución de la hidrofobicidad en la superficie de las proteínas, en su comportamiento en sistemas de dos fases acuosas (ATPS), mediante el uso de modelos matemáticos para la descripción de esta distribución. Para hacer esta descripción se utilizaron dos tipos de modelos matemáticos. </p>
                    <a class="link" href="">Leer Más</a>
                </div>
            </div>
            <div class="col-sm-4 sm-margin-b-50">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                    <h3>Uso de Bioinformática como Herramienta de Análisis de Datos en Cáncer Gástrico</h3>
                    <p>El avance de la informática y el poder de proceso de los computadores han posibilitado la aparición de una disciplina emergente, la Bioinformática; cuyos objetivos son una visión amplia de los procesos biológicos y el entendimiento de grupos complejos de datos. En esta tesis, el uso de herramientas bioinformáticas en datos de hipermetilación de promotores de genes en cáncer gástrico difuso reveló asociaciones con características clínicas y 2 genes que se asocian a mal pronóstico (APC y p73).</p>
                    <a class="link" href="">Leer Más</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                    <h3>Propuesta de globalización de servicios de centro de Genómica & Bioinformatica a Latinoamérica</h3>
                    <p>En este trabajo se analiza y evalúa la posibilidad de internacionalización de los servicios de secuenciamiento genético a gran escala, desarrollo de análisis bioinformáticos y bancos de secuencias genómicas por parte del Centro de Genómica & Bioinformática de la Universidad Mayor. El Centro, Genoma Mayor, desea establecer en qué países de Latinoamérica posee ventajas competitivas para la exportación de sus servicios.</p>
                    <a class="link" href="">Leer Más</a>
                </div>
            </div>
        </div>
        <!--// end row -->
    </div>
</div>
<!-- End Features -->

<!-- Clients -->
<div class="content-md container">
    <div class="row margin-b-40">
        <div class="col-sm-6">
            <h2>Clientes de Proyectos</h2>
            <p>Algunos clientes de Proyectos, los cuales ayudan con los fondos para la tesis</p>
        </div>
    </div>

    <div class="swiper-slider swiper-clients">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img class="swiper-clients-img" src="{% static 'img/Fosis.png'%}" alt="Clients Logo">
            </div>
            <div class="swiper-slide">
                <img class="swiper-clients-img" src="{% static 'img/Fosis.png'%}" alt="Clients Logo">
            </div>
            <div class="swiper-slide">
                <img class="swiper-clients-img" src="{% static 'img/Fosis.png'%}" alt="Clients Logo">
            </div>
            <div class="swiper-slide">
                <img class="swiper-clients-img" src="{% static 'img/Fosis.png'%}" alt="Clients Logo">
            </div>
            <div class="swiper-slide">
                <img class="swiper-clients-img" src="{% static 'img/Fosis.png'%}" alt="Clients Logo">
            </div>
            <div class="swiper-slide">
                <img class="swiper-clients-img" src="{% static 'img/Fosis.png'%}" alt="Clients Logo">
            </div>
        </div>
    </div>
</div>


{% endblock %}