{% extends "tesis/index.html" %}
{% load static %}

{% block css %}
{{block.super}}
<style>
   zing-grid {
      background: #eeeeee;
      font-size: 1.5rem;
      box-shadow: 0 0 9px rgba(0, 0, 0, .15);
      
      width:80%;
   }
   zg-caption {
      background-color: rgb(64, 147, 202);
      color: rgb(0, 0, 0);
      font-weight: bold;
      opacity: 2;
      text-align: center;
      transition: 0.3s opacity;
      font-size: 2.5rem;
   }

 </style>

{% endblock %}

{% block content_tabla %}

   <div>
      
      <center>
         <zing-grid
            filter
            static-menu
            columns-control
            selector
            lang = "es"
            pager
            page-size="10"
            layout="row"
            search
            editor="modal">
            <zg-caption>
               Estudiantes   
            </zg-caption>
            <zg-data src="/api/estudiante/">
               <zg-param name="readOptions" value='{"body": "_fncStringReference"}'></zg-param>
               <zg-param name="createOptions" value='{"body": "_fncStringReference"}'></zg-param>
               <zg-param name="updateOptions" value='{"body": "_fncStringReference"}'></zg-param>
               <zg-param name="deleteOptions" value='{"body": "_fncStringReference"}'></zg-param>

            </zg-data>
            <zg-source position="both">Estudiantes Universidad de Talca</zg-source>
            
            <zg-colgroup>
               <zg-column index="nombres"></zg-column>
               <zg-column index="apellidos"></zg-column>
               <zg-column index="matricula" filter="disabled"></zg-column>
               <zg-column index="rut" filter="disabled"></zg-column>
               <zg-column index="correo_institucional" filter="disabled"></zg-column>
               <zg-column index="correo_alternativo" filter="disabled"></zg-column>
               <zg-column index="telefono"></zg-column>
               <zg-column index="direccion"></zg-column>
               <zg-column index="ocultar"></zg-column>

            </zg-colgroup>

         </zing-grid>
      </center>
   </div>
{% endblock %}

{% block js %}
{{ block.super }}

{% endblock %}
   