{% extends "tesis/index.html" %}
{% load static %}

{% block css %}
{{block.super}}
<style>
   zing-grid {
      background: #eeeeee;
      font-size: 1.5rem;
      box-shadow: 0 0 9px rgba(0, 0, 0, .15);
      width:80%;
   }
   zg-caption {
      background-color: rgb(64, 147, 202);
      color: rgb(0, 0, 0);
      font-weight: bold;
      opacity: 2;
      text-align: center;
      transition: 0.3s opacity;
      font-size: 2.5rem;
   }

 </style>

{% endblock %}

{% block content_tabla %}

   <div>
      
      <center>
   
         <zing-grid
            filter
               selector
            lang = "es"
            pager
            page-size="10"
            layout="row"
            search
            editor-controls="all"
            src="/api/profesor/">
            <zg-caption>
               Profesores   
            </zg-caption>
            <zg-source position="both">Estudiantes Universidad de Talca</zg-source>
            <zg-data>
               <zg-param name="idKey" value="id"></zg-param>
            </zg-data>
            
            <zg-colgroup>
               <zg-column index="nombre"></zg-column>
               <zg-column index="apellido"></zg-column>
               <zg-column index="correo_profesor" header="Correo"></zg-column>
            </zg-colgroup>
            
         </zing-grid>
      </center>
   </div>
{% endblock %}

{% block js %}
{{ block.super }}

{% endblock %}
   