{% extends "tesis/index.html" %}
{% load static %}

{% block content_tabla %}

    <center>
        <h1>El contenido del CVS debe llevar el siguiente orden: </h1>
        <div class="">
            <img class="img-responsive" src="{% static 'img/csv.png'%}" >
        </div>
    </center>
    <div>
        <center>
            <div class="row" style="margin: 50px">
                <form action="" method="POST" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <label for="formFileDisabled" for="file1"> Subir Archivo</label>
                    <input class="form-control-file" type="file" id="file1" name="file" accept=".csv" required>
                    <small>Solo archivos CSV</small>
                    <button type="submit" class="btn btn-primary">Subir</button>
                </form>
            </div>
        </center>
    </div>
    

{% endblock %}
