{% extends "tesis/index.html" %}
{% load static %}

{% block css %}
{{block.super}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />  
<style>
   zing-grid {
      background: #eeeeee;
      font-size: 1.5rem;
      box-shadow: 0 0 9px rgba(0, 0, 0, .15);
      
      width:80%;
   }
   zg-caption {
      background-color: rgb(64, 147, 202);
      color: rgb(0, 0, 0);
      font-weight: bold;
      opacity: 2;
      text-align: center;
      transition: 0.3s opacity;
      font-size: 2.5rem;
   }

</style>

<style>

@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

.search input {
    height: 60px;
    width: 550px;
    text-indent: 25px;
    border: 3px solid #d6d4d4;
    font-size: 25px;
}

.search input:focus {
    box-shadow: none;
    border: 2px solid blue
}

.search .fa-search {
    position: absolute;
    top: 2px;
    left: 16px
}

</style>

{% endblock %}

{% block content_tabla %}

  <div>
    <center>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#TesisEstudiante">
          Añadir Tesis
        </button>

        <p></p>
        <zing-grid
          filter
          lang = "es"
          pager
          page-size="10"
          layout="row"
          search
          editor
          src="/api/tesis/">
          <zg-caption>
              Tesis
          </zg-caption>
          <zg-source position="both">Estudiantes Universidad de Talca</zg-source>
          <zg-data>
              <zg-param name="idKey" value="id"></zg-param>
          </zg-data>

          <zg-colgroup>
              <zg-column index="matricula.nombres" editor="false"></zg-column>
              <zg-column index="matricula.apellidos" editor="false"></zg-column>
              <zg-column index="titulo" filter="disabled" editor="false"></zg-column>
              <zg-column index="profesor.nombre" editor="false"></zg-column>
              <zg-column index="profesor.apellido" editor="false"></zg-column>
              <zg-column index="cotutor" ></zg-column>
              <zg-column index="informante"></zg-column>
              <zg-column index="fecha" type="date" type-date-format="LL" locale="es"></zg-column>
              <zg-column 
               index="area"
               sort="enable" 
               type="select"
                 type-select-options="Informática, Genómica, Simulación"></zg-column>
              <zg-column type="editor"></zg-column>
              <zg-column type="remover"></zg-column>
          </zg-colgroup>
        </zing-grid>
        
        <p></p>
        
    </center>

    <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="TesisEstudiante" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div >
        <center>
          <h2>Añadir Tesis</h2>
        </center>
      </div>
      <div class="modal-body">
        <div class="container-fluid" >
        <form action="{% url 'padd' %}" method="post">
          {% csrf_token %}
          <table class="table">
            <tr>
              <td>{{ form.matricula.label_tag }}</td>
              <td>{{ form.matricula }}</td>
            </tr>
            <tr>
              <td>{{ form.titulo.label_tag }}</td>
              <td>{{ form.titulo }}</td>
            </tr>
            <tr>
              <td>{{ form.profesor.label_tag }}</td>
              <td>{{ form.profesor }}</td>
            </tr>
            <tr>
              <td>{{ form.cotutor.label_tag }}</td>
              <td>{{ form.cotutor }}</td>
            </tr>
            <tr>
              <td>{{ form.informante.label_tag }}</td>
              <td>{{ form.informante }}</td>
            </tr>
            <tr>
              <td>{{ form.fecha.label_tag }}</td>
              <td>{{ form.fecha }}</td>
            </tr>
            <tr>
              <td>{{ form.area.label_tag }}</td>
              <td>{{ form.area }}</td>
            </tr>
            
            
          </table>
          <div class="modal-footer"></div>
            <center>
            <button type="submit" class="btn btn-primary">Añadir Tesis</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </center>
          </div>
        </form>
        </div>
        
      </div>

    </div>
  </div>

{% endblock %}

{% block js %}
{{ block.super }}
<script>

$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>  

<script>  
  $(function () {  
   $("#id_fecha_factura").datetimepicker({  
       format: 'd/m/Y',  
       timepicker:false  
   });  
  });  
 </script> 
  <script>  
    $(document).ready(function () {  
          jQuery.datetimepicker.setLocale('es');  
    });  
  </script> 
{% endblock %}
   

