{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <title>Tesis Pregrado</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta content="" name="description"/>
        <meta content="" name="author"/>

        {% block css %}

        <!-- ZingGrid -->
        <script src="https://cdn.zinggrid.com/zinggrid.min.js"></script>

        <link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
        <link href="{% static 'vendor/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>

        <link href="{% static 'css/animate.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/swiper/css/swiper.min.css' %}" rel="stylesheet" type="text/css"/>

        <link href="{% static 'css/layout.min.css' %}" rel="stylesheet" type="text/css"/>

        <link rel="shortcut icon" href="{% static 'img/utalca_logo.ico' %}"/>

        {% endblock %}    
    </head>

    {% block header %}

    <header class="header">
        
        {% if user.is_authenticated %}
        <nav class="navbar" role="navigation">
            <div class="container">
                <div class="menu-container">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="toggle-icon"></span>
                    </button>
    
                    <div class="navbar-logo">
                        <a class="navbar-logo-wrap" href="/">
                            <img  src="{% static 'img/icb_logo.png' %}" alt="Tesis" width="145" height="55">
                        </a>
                    </div>
                </div>
    
                <div class="collapse navbar-collapse nav-collapse">
                    <div class="menu-container">
                        <ul class="navbar-nav navbar-nav-right">
                            <li class="nav-item">
                                <a class="nav-item-child active" href="/">
                                    Inicio
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-item-child" href="/tesis/">
                                    Tesis
                                </a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-item-child" href="/tabla_estudiante/">
                                    Estudiantes
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-item-child" href="/profesores/">
                                    Profesores
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-item-child" href="/tabla-estudiante/subir-archivo/">
                                    CSV Estudiante
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-item-child" href="{% url 'logout' %}?next=/"> 
                                    <img  src="{% static 'img/logout.png' %}" alt="Tesis" width="30" height="30">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        {% else %}
        <nav class="navbar" role="navigation">
            <div class="container">
                <div class="menu-container">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="toggle-icon"></span>
                    </button>
    
                    <div class="navbar-logo">
                        <a class="navbar-logo-wrap" href="/">
                            <img  src="{% static 'img/icb_logo.png' %}" alt="Tesis" width="145" height="55">
                        </a>
                    </div>
                </div>
                <div class="collapse navbar-collapse nav-collapse">
                    <div class="menu-container">
                        <ul class="navbar-nav navbar-nav-right">
                            <li class="nav-item">
                                <a class="nav-item-child active" href="/">
                                    Inicio
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-item-child" href="/busca-tesis/">
                                    Tesis
                                </a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-item-child" href="/academicos/">
                                    Profesores
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-item-child" href="{% url 'login' %}?next=/"> 
                                    <img  src="{% static 'img/login.png' %}" alt="Tesis" width="30" height="30">
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        {% endif %}


    </header>

    {% endblock %}


    <body>

        {% block content_tabla %}

        {% endblock %}

        {% block content_inicio %}
    
        {% endblock %}

        <footer class="footer">
            <div class="section-seperator">
                <div class="content-md container">
                    <div class="row">
                        <div class="col-sm-2 sm-margin-b-30">
                            <ul class="list-unstyled footer-list">
                                <li class="footer-list-item"><a href="/">Inicio</a></li>
                                <li class="footer-list-item"><a href="/busca-tesis/">Tesis</a></li>
                                <li class="footer-list-item"><a href="/academicos/">Profesores</a></li>
                                <li class="footer-list-item"><a href="#">....</a></li>
                                <li class="footer-list-item"><a href="#">....</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2 sm-margin-b-30">
                            <ul class="list-unstyled footer-list">
                                <li class="footer-list-item"><a href="https://twitter.com/UTalca">Twitter</a></li>
                                <li class="footer-list-item"><a href="https://www.facebook.com/utalca/">Facebook</a></li>
                                <li class="footer-list-item"><a href="https://www.instagram.com/utalca">Instagram</a></li>
                                <li class="footer-list-item"><a href="https://www.youtube.com/user/canalUtalca">YouTube</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



            <div class="content container">
                <div class="row">
                    <div class="col-xs-6">
                        <img src="{% static 'img/icb_logo.png' %}" alt="Tesis Pregrado" width="145" height="55">
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="margin-b-0"><a class="fweight-700" href="https://www.utalca.cl">Universidad de Talca</a></p>
                    </div>
                </div>
            </div>
        </footer>

        <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

        {% block js %}

        <script src="{% static 'vendor/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/jquery-migrate.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>

        <script src="{% static 'vendor/jquery.easing.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/jquery.back-to-top.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/jquery.smooth-scroll.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/jquery.wow.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/swiper/js/swiper.jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/masonry/jquery.masonry.pkgd.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/masonry/imagesloaded.pkgd.min.js' %}" type="text/javascript"></script>

        <script src="{% static 'js/layout.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/components/wow.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/components/swiper.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/components/masonry.min.js' %}" type="text/javascript"></script>

        {% endblock %}

    </body>
</html>